.venta-content {
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 150px;
}
.title-venta {
  width: 100%;
  font-size: 28px;
  color: rgb(0, 0, 0);
  text-align: center;
  position: relative;
  top: 150px;
  padding: 35px;
  background-color: #ebe5e5;
}
.venta-cards {
  height: 800px;
  margin: 0;
  padding: 0;
}

.venta-img,
.venta-img-dos {
  object-fit: cover;
  height: 200px;
  width: 100%;
  margin: 0;
}

.venta-card-title {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 15px;
  color: #fafafa;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.venta-card-text {
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  color: #fafafa;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.venta-info {
  background-color: rgb(101, 22, 22);
  color: #ffff;
  padding: 10px;
  margin: 0;
}
.venta-card-title {
  color: #fafafa;
  font-size: 24px;
  padding: 5px;
  margin: 0;
}
.venta-card-text {
  width: 100%;
  color: #fafafa;
  font-size: 18px;
  padding: 5px;
}
.venta-card-link {
  display: block;
  font-size: 16px;
  text-align: center;
  color: rgb(101, 22, 22);
  background-color: #ffff;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid rgb(101, 22, 22);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.venta-card-link:hover {
  border: 1px solid #ffff;
  background-color: rgb(101, 22, 22);
  color: #ffff;
}
/*--- Responsive ---*/
@media (min-width: 720px) {
  .venta-cards {
    width: 100%;
    height: 700px;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 50px;
    padding: 10px 10px;
  }
  .venta-alquiler {
    font-size: 35px;
  }
  .venta-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .venta-img {
    width: 100%;
    height: 200px;
  }
  .venta-img-dos {
    width: 100%;
    height: 200px;
  }
}
@media (min-width: 960px) {
  .venta-cards {
    width: 100%;

    position: relative;
    top: 130px;
    left: 0;
  }
  .title-venta {
    font-size: 38px;
    position: absolute;
    top: 90px;
  }
  .venta-content {
    top: 80px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1020px) {
  .venta-cards {
    width: 100%;
    position: relative;
    top: 160px;
    left: 0;
    padding: 10px 10px;
  }
  .title-venta {
    font-size: 38px;
    position: absolute;
    top: 90px;
  }
  .venta-content {
    top: 50px;
    grid-template-columns: 1fr 1fr;
  }
}
