/*---Seccion Footer ---*/
.footer {
  height: 300px;
}
.container__footer {
  background-color: #2c2c2c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 150px;
}

.box-contacto {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.img-title-footer {
  width: 300px;
  padding: 30px;
}
.title-copy {
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: #fff;
}
.container__contacto-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__img-ubicacion,
.footer__img-whatsapp,
.footer__img-correo {
  width: 55px;
  padding: 10px;
}
.box__contacto-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.box__contacto-footer > a {
  text-decoration: none;
  color: #fff;
}

.container__contacto-footer p {
  width: 100%;
  font-size: 16px;
  padding: 0;
  color: #fff;
}
.footer-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*---Responsive Footer---*/

@media (min-width: 960px) {
  .container__footer {
    position: relative;
    top: 150px;
    height: 300px;
  }
  .container__contacto-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
  .box-contacto {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .footer-text {
    width: 100%;
  }
}
