.title-alquiler {
  width: 100%;
  font-size: 28px;
  color: rgb(0, 0, 0);
  text-align: center;
  position: relative;
  top: 150px;
  padding: 20px;
  background-color: #ebe5e5;
  margin-top: 10px;
}

.alquiler-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 150px;
}
.alquiler-cards {
  width: 100%;

  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 70px;
  padding: 0 10px;
}
.alquiler-img,
.alquiler-img-dos {
  object-fit: cover;
  height: 200px;
  width: 100%;
  margin: 0;
}

.alquiler-card-title {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 15px;
  color: #fafafa;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.alquiler-card-text {
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  color: #fafafa;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.alquiler-info {
  background-color: rgb(101, 22, 22);
  color: #ffff;
  padding: 10px;
  margin: 0;
}
.alquiler-card-title {
  color: #fafafa;
  font-size: 24px;
  padding: 5px;
  margin: 0;
}
.alquiler-card-text {
  color: #fafafa;
  font-size: 18px;
  padding: 5px;
}
.alquiler-card-link {
  display: block;
  font-size: 16px;
  text-align: center;
  color: rgb(101, 22, 22);
  background-color: #ffff;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid rgb(101, 22, 22);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.alquiler-card-link:hover {
  border: 1px solid #ffff;
  background-color: rgb(101, 22, 22);
  color: #ffff;
}
/*--- Responsive ---*/
@media (min-width: 720px) {
  .alquiler-cards {
    width: 100%;
    height: 700px;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 50px;
    padding: 10px 10px;
  }

  .title-alquiler {
    font-size: 35px;
  }
 
  .alquiler-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .alquiler-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .alquiler-img-dos {
    width: 100%;
    height: 200px;
  }
}
@media (min-width: 960px) {
  .alquiler-cards {
    width: 100%;
    height: 700px;
    position: relative;
    top: 0;
    left: 0;

    padding: 10px 10px;
  }
  .title-alquiler {
    font-size: 38px;
    top: 120px;
  }
  .alquiler-content {
    width: 100%;
    top: 115px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
