body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  background-color: #fafafa;
}

.my-projects {
  padding: 30px;
  height: 1200px;
}

.alquiler-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.alquiler-cards {
  padding: 10px;
  margin: 0 auto;
}
.alquiler-img,
.alquiler-img-dos {
  object-fit: cover;
  height: 200px;
  width: 100%;
}
.portfolio-content-card {
  padding: 20px;
}

.portfolio-card-title {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 15px;
  color: #fafafa;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.portfolio-card-text {
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  color: #fafafa;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.alquiler-info {
  width: 100%;
  background-color: rgb(101, 22, 22);
  color: #ffff;
}
.alquiler-card-title {
  color: #fafafa;
  font-size: 24px;
  padding: 5px;
}
.alquiler-card-text {
  color: #fafafa;
  font-size: 18px;
  padding: 5px;
}

/*--- Responsive ---*/
@media (min-width: 720px) {
  .my-projects {
    padding: 30px;
  }
  .portfolio-content {
    height: 450px;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
  }
  .alquiler-img {
    width: 100px;
    height: 100px;
  }
  .alquiler-img-dos {
    width: 100px;
    height: 100px;
  }
  .portfolio-img-casa {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 960px) {
  .portfolio-content {
    grid-template-columns: 1fr 1fr;
  }
}
