/** Go top **/
.go-top {
  position: fixed;
  bottom: 100px;
  right: -100%;
  width: 50px;
  height: 50px;
  border: 2px solid rgb(255, 80, 80);
  border-radius: 15px;
  background: rgb(85, 85, 85, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 500ms;
}
.go-top:hover {
  /*border: 2px solid #fff;*/
  border-radius: 15px;
  background: rgb(255, 80, 80, 0.5);
}
.go-top:hover span {
  color: rgb(0, 0, 0);
}
.go-top > span {
  font-size: 25px;
  color: rgb(255, 85, 85);
}

.img-title {
  width: 250px;
}
.container-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999;
}
.container__header-menu {
  width: 100%;
  background-color: rgb(101, 22, 22);
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.container__contacto-header {
  display: flex;
  background-color: rgb(90, 70, 70);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.header__img-whatsapp,
.header__img-correo {
  width: 20px;
  height: 20px;
  margin: 5px;
  color: #fafafa;
}
.box__contacto-header > a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 10px;
}
.header__text-whatsapp {
  width: 50%;
  color: #fff;
  text-align: center;
}
.box__contacto-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-menu {
  list-style: none;
}
.btn-menu {
  font-size: 32px;
  border: none;
  background: none;
  color: #fff;
  margin-left: 25px;
}
.container__menu {
  width: 100%;
  position: absolute;
  top: 175px;
  left: -100%;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #161616;
  color: #fafafa;
}
.container__menu-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
}
.list-menu {
  width: 100%;
  border-bottom: 1px solid #fafafa;
  text-align: center;
  padding: 10px;
}
.link-menu {
  width: 100%;
  color: #fafafa;
  text-decoration: none;
  font-size: 28px;
}
.container__welcome {
  margin: 85px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/*---Responsive menu---*/
@media (min-width: 630px) {
  .container__contacto-header {
    justify-content: space-evenly;
    flex-direction: row;
  }
}

@media (min-width: 960px) {
  .container__contacto-header {
    width: 100%;
    background-color: rgb(90, 70, 70);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
  }
  .header__img-whatsapp,
  .header__img-correo {
    width: 20px;
    height: 20px;
    margin: 5px;
  }
  .box__contacto-header a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  .box__contacto-header {
    display: flex;
    align-items: center;
  }
  .header__text-whatsapp {
    width: 30%;
    color: #fff;
    font-size: 16px;

    padding: 0;
  }
  .container__header-menu {
    padding: 10px;
    height: 70px;
  }
  .img-title {
    width: 200px;
  }
  .btn-menu {
    display: none;
  }
  .container__header-title {
    padding: 8px;
    margin-left: 40px;
    cursor: pointer;
  }
  .link-menu {
    text-align: center;
    cursor: pointer;
    border-bottom: none;
    margin: 0;
  }
  .list-menu {
    width: 100%;
    border-bottom: none;
    text-align: center;
    padding: 0;
  }

  .container__header-menu .container__menu {
    position: initial;
    top: 0;
    left: 0;
    width: 40%;
    height: 100px;
    background-color: initial;
    color: #fafafa;
    margin: 0;
    padding: 0;
  }
  .container__header-menu .container__menu .container__menu-link {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
  }

  .container__menu .container__menu-link .list-menu .link-menu {
    font-size: 18px;
    color: #fafafa;
    text-decoration: none;
    margin: 0;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
  }
  .container__menu .container__menu-link .list-menu .link-menu:hover {
    background-color: #ffff;
    color: rgb(101, 22, 22);
    border-radius: 5px;
  }
}
